p {
    text-align: left;	
    font-size: 12pt;
}

h1 {
    color: blue;
    text-align: center;	
    font-size: 50pt;
}

h2 {
    color: green;
    text-align: center;	
    font-size: 30pt;
}

table {
    border-collapse: collapse; 
    margin: auto;
    
}
 

tr {
     height: 25px;
     border: 1px solid black;
} 	


th {
     background-color: gray;
     border: 1px solid black;
  
}

td { width: 300px;
    text-align: center;
    border: 1px solid black;
  
}

img {
    width: 200px;
    height: 200px;
}

div {
  text-align: center;
}

button {
  border-radius: 10px;
  color: black;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}